node_modules
vendor
.git
.env
public/storage
storage/*.key
.phpunit.cache
bootstrap/cache/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
