node_modules
vendor
.git
.env
.env.backup
public/storage
public/build
storage/*.key
.phpunit.cache
bootstrap/cache/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/app/private/*
storage/app/public/*
.codegraph
.kiro
.playwright-mcp
.sisyphus
# IDE & OS
.idea
.vscode
*.swp
*.swo
Thumbs.db
.DS_Store

# Dev tools
.omo
.opencode
.claude
tests
.phpunit.result.cache
